ion-content{
    --ion-background-color: linear-gradient(80deg, #02929A
    0% 33%,#169BA2 33% 66%, #28A3A9 66% 100%);;
}

.card{
    height: 60vh;
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    opacity: 0.5;
    border-radius: 30px;
}