<ion-content>
  <div class="container">
    <div class="center" style="height: 30vh">
      <h1>DRY</h1>
    </div>
    <div class="center" style="height: 30vh;">
      <div class="p-grid p-fluid">
        <h5>Numerals</h5>
        <div class="p-grid p-fluid">
            <div class="p-field p-col-12 p-md-3">
              <ion-button fill="outline">Outline</ion-button>
              <ion-button fill="solid">Solid</ion-button>
            </div>
            </div>
            </div>
        
    </div>
    <div>
      <p>Test 3</p>
    </div>
  </div>
</ion-content>