<ion-content>
  <div class="container">
    <div class="center" style="height: 20vh">
      <h1>DRY</h1>
    </div>
    <div class="center card">
      <div class="p-grid p-fluid">

        <div style="margin-bottom: 30px;">
          <ion-input type="tel" maxlength="10" value="" placeholder="Mobile No."></ion-input>
        </div>
        <div>
          <ion-input type="password" maxlength="4"  value="" placeholder="PIN"></ion-input>
        </div>

        <div class="center" style="margin-top: 2.5em;">
          <ion-button fill="outline">Login</ion-button>
        </div>



      </div>
    </div>
    <div class="center" style="height: 20vh;">
      <!-- <p>Test 3</p> -->
    </div>
  </div>
</ion-content>